<div class="form-wrap bgc--primary neumorph-shadow neumorph-shadow--br">
  <form [formGroup]="resetPasswordForm" class="form">
    <div class="neu-content">
      <h2 class="form__title">Reset your password by email</h2>
      <app-input
        class="form__group"
        placeholder="Email"
        inputType="email"
        iconName="mail"
        formControlName="email"
      ></app-input>
      <div class="form__group d-flex justify-c_center">
        <button
          [disabled]="resetPasswordForm.invalid"
          appRipple
          type="submit"
          class="btn"
          (click)="onSubmit()"
        >
          Reset password
        </button>
      </div>
    </div>
  </form>
  <p
    [ngClass]="[
      resetErrorMessage.isError ? 'txt-color--warn' : 'txt-color--success'
    ]"
    *ngIf="resetErrorMessage"
  >
    {{ resetErrorMessage.message }}
  </p>
  <div class="txt-align--center">
    <a
      [routerLink]="'../' + APP_ROUTES.auth.children.signIn"
      class="txt-color--success"
      href=""
      >To Login page</a
    >
  </div>
</div>
