@import "_var.scss";

$width: 70px;
$height: ($width / 2.3);
$diameterCircle: $height - 10;
$paddingCircle: 7px;
$duration: 0.25s;
$text-shadow: 0 0 $height/ 2 $white, 0 0 $height/ 2 $white,
  0 0 $height/ 2 $white;

.dark-shadow {
  box-shadow: 1px 1px 13px $black-1, -0.5px -0.5px 1.5px $black-2,
    inset 1px 1px 1px rgba($white, 0.8),
    inset -0.5px -0.5px 0.5px rgba($white, 0.4);
}

.light-shadow {
  box-shadow: 1px 1px 13px rgba($black-2, 0.2), -0.5px -0.5px 1.5px $black-2;
}

.switch-element {
  user-select: none;
  width: $width;
  height: $height;
  position: relative;
  background: $black-1;
  position: relative;
  border-radius: 1.6rem;
  overflow: hidden;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $white;
    border-radius: 1.6rem;
    top: 0;
    transform: translateX(-100%) scale(0.9);
    z-index: 0;
    transition-property: transform;
    transition-duration: $duration;
    transition-timing-function: ease-out;
  }
  &__input {
    display: none;
  }
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
    &::after,
    &::before {
      transition-property: left, color, background-color, text-shadow, opacity,
        width;
      transition-duration: $duration;
      transition-timing-function: ease-out;
    }
    &::after {
      user-select: none;
      font-family: "Material Icons";
      content: "dark_mode";
      color: $white;
      background: $black-2;
      padding: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $diameterCircle - 3;
      position: absolute;
      left: $paddingCircle;
      width: $diameterCircle;
      height: $diameterCircle;
      border-radius: 50%;
      text-shadow: $text-shadow;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: inherit;
      opacity: 0;
    }
  }
}

.switch-element__input:active ~ label.switch-element__label {
  &::after {
    width: $diameterCircle * 1.2;
  }
}

.switch-element__input:checked ~ label {
  &::before {
    opacity: 1;
  }
  &::after {
    left: $width - $diameterCircle - $paddingCircle;
    content: "light_mode";
    color: $yellow;
    background: transparent;
  }
}

.switch-element__input:checked ~ .switch-element__bg {
  transform: translateX(0) scale(1);
  transition-timing-function: ease;
}
