<div class="form-wrap bgc--primary neumorph-shadow neumorph-shadow--br">
  <form [formGroup]="signInForm" class="form">
    <div class="neu-content">
      <h2 class="form__title">Login to your web-development account</h2>
      <app-input
        class="form__group"
        placeholder="Email"
        inputType="email"
        iconName="mail"
        formControlName="email"
      ></app-input>
      <app-input
        class="form__group"
        placeholder="Password"
        inputType="password"
        iconName="key"
        formControlName="password"
      ></app-input>
      <div class="form__group d-flex justify-c_center">
        <button
          [disabled]="signInForm.invalid"
          appRipple
          type="submit"
          class="btn"
          (click)="onSubmit()"
        >
          Sign In
        </button>
      </div>
    </div>
  </form>

  <p class="txt-align--center">
    Forgot your password?
    <a
      [routerLink]="'../' + APP_ROUTES.auth.children.forgotPassword"
      class="txt-color--success"
      href=""
      >Reset your password</a
    >
  </p>
  <p class="txt-align--center">
    Not have account?
    <a
      [routerLink]="'../' + APP_ROUTES.auth.children.signUp"
      class="txt-color--success"
      href=""
      >Registration page</a
    >
  </p>
  <p class="txt-color--warn" *ngIf="loginErrorMessage">
    {{ loginErrorMessage }}
  </p>
</div>
