@mixin define-theme($theme, $isLight) {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  * {
    color: map-get($theme, primary-contrast);
  }
  .bgc {
    &--primary {
      background: map-get($theme, primary);
    }
    &--secondary {
      background-color: map-get($theme, secondary);
    }
  }
  .neumorph-shadow {
    position: relative;
    @if $isLight {
      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        box-shadow: map-get($theme, shadow-out--lg);
        filter: blur(2px);
        left: 0;
        top: 0;
      }
    } @else {
      box-shadow: map-get($theme, shadow-out--lg);
      border-radius: $br--lg;
    }
    &--br {
      &:before {
        border-radius: $br--lg;
      }
    }
  }
  @include switcher($theme, $isLight);
  @include ripple($theme, $isLight);
  @include btn($theme, $isLight);
  @include canvas($theme, $isLight);
  @include txt($theme, $isLight);
}
