.ripple {
  width: 3px;
  height: 3px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba($light, 0.5);
  transform: scale(0);
  animation: anim-ripple 1s ease 1 forwards;
  pointer-events: none;
}

@keyframes anim-ripple {
  0% {
    transform: scale(0);
    filter: blur(0);
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}
