@use "sass:math";
@import "var";

$diameter: 26px;

.frame {
  position: relative;
  min-height: 100vh;
  &__sidebar {
    position: relative;
    width: auto;
    display: flex;
    height: 96vh;
    top: 2vh;
    left: 1vw;
    transition: width 0.6s $ease-in-out-quart;
  }
  &__switch {
    user-select: none;
    position: absolute;
    background-color: $dark;
    box-shadow: $dark-shadow-out--md;
    width: $diameter;
    height: $diameter;
    display: flex;
    right: math.div(-$diameter, 2);
    top: $diameter;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: $light;
    z-index: 100;
    border-radius: 50%;
    border: none;
    &-icon {
      transition: all 0.3s $ease-in-out-quart;
      font-size: 16px;
      margin-left: 7px;
    }
  }
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
