@mixin btn($theme, $isLight) {
  .btn-switch {
    background-color: map-get($theme, primary);
    color: map-get($theme, primary-contrast);
    box-shadow: map-get($theme, shadow-out--lg);
  }
  .btn {
    box-shadow: map-get($theme, shadow-out--md);
    &:hover {
      box-shadow: map-get($theme, shadow-out--exsm);
    }
  }
}

.btn {
  display: block;
  position: relative;
  background: transparent;
  border: none;
  border-radius: 20px;
  padding: 16px 16px;
  min-width: 130px;
  text-transform: uppercase;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
